rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {

// Regra geral para a maioria das coleções:
// Permite leitura e escrita apenas para usuários autenticados.
match /{collection}/{docId} {
  allow read, write: if request.auth != null;
}

// Regra específica para a coleção 'users', se necessário,
// para permitir que cada usuário acesse apenas seus próprios dados.
match /users/{userId} {
  allow read, write: if request.auth.uid == userId;
}

// Subcoleções como a de comentários em negociações
match /deals/{dealId}/comments/{commentId} {
  allow read, write: if request.auth != null;
}
}
}